@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
@theme {
  --font-roboto: "Roboto", sans-serif; 
}
@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Oswald.woff2") format("woff2");
}
@theme {
  --color-regal-blue: #243c5a; 
}